h1, h2, h3, h4
  margin: 0 0 .5em
  line-height: 1.2

p
  margin: 0 0 1em

h1
  font-size: 2em

h2
  font-size: 1.5625em

h3
  font-size: 1.125em

h4
  font-size: 110%
  font-weight: bold

ul, ol
  list-style-position: inside
  margin: 0 0 1em
  padding-left: 1.5em
