.container
  max-width: 860px
  padding: 4em 1em 6em
  margin: 0 auto

  @media $tablet
    &
      padding-top: 3em
      padding-bottom: 4em

  @media $low-desktop
    &
      max-width: 540px

  .layout--single &
    padding: 4em 1em
    max-width: 640px
    margin: 0 auto
