$helvetica = Helvetica Neue, TeXGyreHerosRegular, Helvetica, Arial, sans-serif;
$serif = PT Serif, Georgia, Times New Roman, Times, serif;

$text-color = rgba(0, 0, 0, .85);
$light-text-color = #fcfcfc;
$body-bg-color = #fff;
$footer-color = lighten($text-color, 10%);

$link-color = #03709a;
$link-hover-color = #c33012;
$link-visited-color = #551a8b;

$stripe-color-red = #b52839;
$stripe-color-blue = #15466f;

$paragraphs-spacing = 1.2rem;
$vertical-blocks-spacing = 3.6rem;

$tablet = "(max-width: 768px)";
$ereader = "(max-width: 600px)";
$mobile = "(max-width: 480px)";
$low-desktop = "(max-width: 900px)";
