extends ../layouts/application.jade

block page_title
  | Спасибо

block contents
  p В&nbsp;течение сегодняшнего (максимум завтрашнего) дня мы&nbsp;свяжемся с&nbsp;вами,
    | чтобы познакомиться и&nbsp;уточнить детали.
