.global_footer {
  @mixin container;

  padding-top: 4rem;
  padding-bottom: 4rem;

  color: $footer-color;
  font-size: 80%;
  text-align: center;

  &:after {
    display: block;
    margin-top: 0.5em;
    content: "❦";
    font-size: 1.25rem;
  }
}
