.global_header {
  @mixin container;

  padding-top: $global-header-height;

  &-logo {
    position: absolute;
    display: inline-block;
    top: 1rem;
    height: 57px;
    padding-left: 65px;

    background: url(../assets/logo.png) left center no-repeat;
    background-size: 57px 40px;

    line-height: 57px;
    font-size: 80%;

    &:link, &:visited {
      color: $text-color;
    }
  }

  &-title {
    margin-top: 0;
  }
}
