.order
  info-block()

.order-form
  overflow: hidden
  border: 2px solid $text-color
  border-radius: 4px

.order-form_fields, .order-form_submits
  float: left
  box-sizing: border-box
  width: 50%
  padding: .5rem

.order-form_fields fieldset
  overflow: hidden

  input
    display: block
    box-sizing: border-box
    float: right
    width: 48%

  input:first-child
    float: left
