extends ./layouts/application.jade

block page_title
  | Фетр

block contents
  p Фетр — это плотный материал из валяной тонкой и нежной шерсти.
    | Фетр бывает натуральным (чистошерстяным), полушерстяным и синтетическим.
    | Полушерстяной фетр состоит из 50-60% шерсти и 50-40% синтетики: вискозы, акрила.
    | Синтетический фетр на 100% состоит из акрила, полиэстера или вискозы.

  p Полушерстяной и синтетический фетр просвечивает и дает отвратительный блеск.
    | Он тонкий, жесткий и его неприятно держать в руках.
    | Чехол из такого фетра выглядит дешево и долго не служит.

  p Мы шьем чехлы из натурального (100% шерсти) фетра из Испании толщиной в 3 миллиметра.
    | Он превосходно держит форму, стойко выдерживает ношение в кармане или сумке и не ворсится:



  p Он чертовски приятен на ощупь. Выглядит роскошно и аристократично.



  p Натуральный фетр (как и вся шерсть) боится воды.
    | Если не стирать чехол и не плавать с ним в море, то он прослужит вам очень долго.
