extends ./layouts/application.jade

block page_title
  | Хороший фетр — натуральный фетр

block contents
  p Фетр — материал из валяной тонкой и нежной шерсти.
    | Бывает синтетическим, полушерстяным и натуральным.
    | Синтетический фетр на 100% состоит из акрила, полиэстера или вискозы.
    | Полушерстяной фетр состоит из шерсти и синтетики: вискозы, акрила.
    | Натуральный фетр состоит только из шерсти.

  p Полушерстяной и синтетический фетр просвечивает и дает отвратительный блеск.
    | Он тонкий, ломкий, жесткий и его неприятно держать в руках.
    | Чехол из такого фетра выглядит дешево и рассыпается через месяц.

  p.caption Мы шьем <a href="/">чехлы</a> из натурального (100% шерсти) фетра из Испании толщиной в 3 миллиметра.
    | Он стойко выдерживает ношение в кармане или сумке и не ворсится:

  .gallery.gallery--for_two
    a.fancybox(href="/assets/felt/used-1-large.jpg" rel="gallery-1")
      img(src="/assets/felt/used-1.jpg")
    a.fancybox(href="/assets/felt/used-2-large.jpg" rel="gallery-1")
      img(src="/assets/felt/used-2.jpg")
    .gallery-caption
      | Новый чехол и чехол, которым пользовались год

  p.caption Натуральный фетр чертовски приятен на ощупь, выглядит роскошно и аристократично.

  .gallery.gallery--for_three
    a.fancybox(href="/assets/felt/felt-1-large.jpg" rel="gallery-2")
      img(src="/assets/felt/felt-1.jpg")
    a.fancybox(href="/assets/felt/felt-2-large.jpg" rel="gallery-2")
      img(src="/assets/felt/felt-2.jpg")
    a.fancybox(href="/assets/felt/felt-3-large.jpg" rel="gallery-2")
      img(src="/assets/felt/felt-3.jpg")


  p Натуральный фетр (как и вся шерсть) боится воды.
    | Если не стирать чехол и не плавать с ним в море, то он прослужит вам дольше, чем телефон.
