extends ./layouts/application.jade

block page_title
  | Ваш телефон — произведение искусства

block contents
  p Мы в Сшилакошке шьем замечательные чехлы,
    | которые не портят первозданную красоту телефона и защищают его, когда вы им не пользуетесь.
    | Мы шьем их вручную из натуральной кожи и 100% фетра толщиной в 3 миллиметра.
    | Лаконичные и элегантные.

  .gallery.gallery--cover
    a(href="#")
      img(src="/assets/main.jpg")

  p.caption Мы любим простоту, поэтому в наших чехлах нет ни застежек, ни кнопок,
    | ни веревочек, отрывающихся через неделю. Ничего лишнего.

  .gallery.gallery--for_two
    a(href="#")
      img(src="/assets/clean/simple.jpg")
    a(href="#")
      img(src="/assets/clean/clean.jpg")

  p.caption Мы ценим качество и аккуратность, поэтому в наших чехлах нет торчащих ниток,
    | а рисунок нанесен лазером. Такой логотип не сотрется.

  .gallery.gallery--for_three
    a(href="#")
      img(src="/assets/quality/superman.jpg")
    a(href="#")
      img(src="/assets/quality/ironman.jpg")
    a(href="#")
      img(src="/assets/quality/ironman2.jpg")

  .order
    h3 Заказать

    p Котик не грустный, он сложный. Чехлы с ним для пятого айфона мы продаем по 800 рублей.
      | Для других телефонов и с другим логотипом мы шьем чехлы на заказ примерно по той же цене.

    p Укажите ваш адрес электронной почты или телефон,
      | чтобы мы с вами связались и уточнили детали заказа.

  .payment
    h3 Оплата и доставка

    p Чехол можно оплатить электронным платежом (Яндекс.Деньги, QIWI) или переводом на карту.
      | После предоплаты мы бесплатно пришлем вам его почтой. Посылку можно отслеживать через интернет.

    p В любом случае, мы с вами свяжемся и найдем удобный способ оплаты и доставки.

  .return
    h3 Возврат

    p Если чехол не понравится или не подойдет, напишите <a href="mailto:vasiliy@shkshk.ru">нам</a>.
      | Мы бесплатно перешьем его и доставим почтой за свой счет.

    p Если вы откажетесь от обмена, мы вернём вам полную стоимость заказа после возврата посылки с чехлом.

