extends ./layouts/application.jade

block contents
  .cover

  div(style="margin-top: 90vh")

  p Шьем чехлы для пятых и шестых айфонов,
    | которые не портят первозданную красоту телефона и защищают его от падений и царапин.
    | Шьем вручную из натуральной кожи и <a href="/felt.html">100% фетра</a> толщиной в 3 миллиметра.
    | Лаконичные и элегантные.

  p.caption Мы любим простоту, поэтому в наших чехлах нет ни застежек, ни кнопок,
    | ни веревочек, отрывающихся через неделю. Ничего лишнего.

  .gallery.gallery--for_two
    a.fancybox(href="/assets/clean/clean-large.jpg" rel="gallery-2")
      img(src="/assets/clean/clean.jpg")
    a.fancybox(href="/assets/clean/simple-large.jpg" rel="gallery-2")
      img(src="/assets/clean/simple.jpg")

  p.caption Мы ценим качество и аккуратность, поэтому в наших чехлах нет торчащих ниток,
    | а рисунок нанесен лазером. Такой логотип не сотрется.

  .gallery.gallery--for_three
    a.fancybox(href="/assets/quality/1-large.jpg" rel="gallery-3")
      img(src="/assets/quality/1.jpg")
    a.fancybox(href="/assets/quality/2-large.jpg" rel="gallery-3")
      img(src="/assets/quality/2.jpg")
    a.fancybox(href="/assets/quality/3-large.jpg" rel="gallery-3")
      img(src="/assets/quality/3.jpg")

  p Мы не шьем чехлы на макбуки, айпады и самсунги. Но с радостью порекомендуем тех, кто шьет:
    | <a href="http://www.hardgraft.com/">Hard Graft</a>,
    | <a href="http://www.puurco.com/collections/frontpage">PuurCo</a>,
    | <a href="http://www.rewrap.eu/sustainable-sleeves/">reWrap</a>.

  .order
    h3 Заказать

    p 1000 рублей. Оплата — электронными деньгами или картой.
      | После предоплаты мы бесплатно пришлем вам его почтой или в пункт самовывоза Boxberry.
      | Посылку можно отслеживать через интернет.

    p Упаковка хорошая: чехол придет в крафт-бумаге, изящно перевязанной бечевкой.

    p Укажите адрес электронной почты,
      | чтобы мы с вами связались и уточнили удобный способ оплаты и доставки.

    form#order-form.order-form(accept-charset="UTF-8" action="https://formkeep.com/f/e86a0306057c" method="POST")
      input(type="hidden" name="utf8" value="✓")

      .order-form_fields
        fieldset
          input#order-email(type="email" name="email" placeholder="Эл. почта" required="required")

      .order-form_submits
        input(type="submit", value="Заказать")

  .return
    h3 Возврат

    p Если чехол не понравится или не подойдет, напишите <a href="mailto:vasiliy@shkshk.ru">нам</a>.
      | Мы бесплатно перешьем его и доставим почтой за свой счет. Если вы откажетесь от обмена,
      | мы вернём вам деньги после возврата посылки с чехлом.

