<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    title СшилаКошка — замечательные чехлы для смартфонов из кожи и фетра
    link(rel="stylesheet", href="/assets/application.css")
  body.layout--application
    article.page
      block contents
