<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    title Шкшк 007  — Сшилакошка (котик не грустный, он сложный)
    link(rel="stylesheet", href="/assets/application.css")
    link(rel="shortcut icon" type="image/png" href="/assets/favicon.png")
    meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, ya-title=fade, ya-dock=fade")
    meta(name="theme-color" content="#ffffff")
  body.layout--application
    - if (process.env.NODE_ENV == "production")
      script.
        (function (d, w, c) {
            (w[c] = w[c] || []).push(function() {
                try {
                    w.yaCounter36951465 = new Ya.Metrika({
                        id:36951465,
                        clickmap:true,
                        trackLinks:true,
                        accurateTrackBounce:true,
                        webvisor:true
                    });
                } catch(e) { }
            });

            var n = d.getElementsByTagName("script")[0],
                s = d.createElement("script"),
                f = function () { n.parentNode.insertBefore(s, n); };
            s.type = "text/javascript";
            s.async = true;
            s.src = "https://mc.yandex.ru/metrika/watch.js";

            if (w.opera == "[object Opera]") {
                d.addEventListener("DOMContentLoaded", f, false);
            } else { f(); }
        })(document, window, "yandex_metrika_callbacks");


    header.global_header
      a.global_header-logo(href="/")
        | Шкшк&nbsp;007
      h2.global_header-title
        block page_title
    div
      block contents

    footer.global_footer
      | Если у вас остались вопросы, пишите: <a href="mailto:vasiliy@shkshk.ru">vasiliy@shkshk.ru</a>

    script(src="/assets/application.js")
