<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    title СшилаКошка — замечательные чехлы для смартфонов из кожи и фетра
    link(rel="stylesheet", href="/assets/application.css")
    link(rel="shortcut icon" type="image/png" href="/assets/favicon.png")
    meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, ya-title=fade, ya-dock=fade")
    meta(name="theme-color" content="#ffffff")
  body.layout--application
    header.global_header
      a(href="/")
        img.global_header-logo(src="/assets/logo.png" width="57" height="40")
      h2.global_header-title
        block page_title
    div.container
      block contents

    footer.global_footer
      | Мы все рады пообщаться.
      | Если у вас остались вопросы, пишите нам по <a href="mailto:vasiliy@shkshk.ru">почте</a>.
